/* noto sans 폰트 import */
/* TODO : 폰트 변경필요 */
@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 📄 index.css */
/* css 공통 초기화 */
*{font-family: 'Binggrae';}
a{
  text-decoration: none;
  color: #000 !important;
}
button{ cursor: pointer; }
h2 {
  color: #8FA2CA !important;
  font-weight: bold !important;
}

/* ✔ CSS 변수 설정 */
:root{
  --main-color: #8FA2CA;
  --point-color: #48523D;
  --sub-color-green: #B5C6B8;
  --sub-color-blue: #E4E8F4;
  --font-size-main: 20px;
}