.containerMember {
  height: 600px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 8px;
  color: white;
  font-size: 80px; /* Icon size */
  position: relative; /* Required for hover icons */
  overflow: hidden;
}

.icon-text {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.login-icon {
  background-color: #8FA2CA;
}

.signup-icon {
  background-color: #B5C6B8;
}

.normalIcon,
.hoverIcon {
  position: absolute;
  transition: opacity 0.3s ease;
}

.normalIcon {
  opacity: 1;
}

.hoverIcon {
  opacity: 0;
}

.login-icon:hover .normalIcon,
.signup-icon:hover .normalIcon {
  opacity: 0;
}

.login-icon:hover .hoverIcon,
.signup-icon:hover .hoverIcon {
  opacity: 1;
}

.normalIcon,
.hoverIcon {
  color: white; /* Icon color */
}

button {
  border: none;
}

.memberRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Enable wrapping for responsiveness */
  gap: 300px;
  max-width: 100%; /* Ensure it doesn't stretch too much on very wide screens */
  margin: 0 auto; /* Center the row */
}

.form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 20px auto;
}

.form-container form {
  max-width: 500px; /* Reduced width */
  width: 100%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
}

.form-control {
  line-height: 1 !important;
  font-size: 14px !important;
}

.gender {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust spacing between radio buttons */
}

.google {
  background-color: royalblue !important;
  color: white !important;
}

.kakao {
  background-color: #FEE500 !important;
  color: black !important;
}

.naver {
  background-color: #03C75A !important;
  color: white !important;
}

.description {
  word-break: keep-all;
  padding-top: 20px;
  text-align: center;
}

.custom-auth-btn {
  background-color: #c0dcc5 !important;
  border: none !important;
  padding-top: 50px;
  height: 39.64px !important;
}

.form-container.complete {
  max-width: 700px; /* Reduced width */
  width: 100%;
  margin: 20px;
  padding: 70px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container.complete {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 680px; /* Full screen height */
}

.customAuthBtn.complete {
  border-color: #8FA2CA;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 130px;
  height: 40px;
  font-size: 18px;
}

.completeHr {
  width: 100%;
}

.adminTitle {
  color: #8FA2CA !important;
  font-weight: bold !important;
  font-size: 32px !important;
}

input[type="password"] {
  font-family: 'Courier New', Courier, monospace;
}

/* Icon hover effect */
.loginHover {
  display: none;
}

.login-icon:hover .loginHover {
  display: inline-block;
}

.login-icon:hover .loginNormal {
  display: none;
}

.joinHover {
  display: none;
}

.signup-icon:hover .joinHover {
  display: inline-block;
}

.signup-icon:hover .joinNormal {
  display: none;
}

@media (max-width: 1400px) {
  .icon-box {
    width: 180px;
    height: 180px;
    font-size: 70px;
  }

  .icon-text {
    font-size: 18px;
  }

  .memberRow {
    gap: 200px; /* Adjust spacing between items for smaller screens */
  }
}

@media (max-width: 1200px) {
  .icon-box {
    width: 160px;
    height: 160px;
    font-size: 60px;
  }

  .icon-text {
    font-size: 16px;
  }

  .memberRow {
    gap: 150px; /* Adjust spacing between items for smaller screens */
  }
}

@media (max-width: 992px) {
  .icon-box {
    width: 150px;
    height: 150px;
    font-size: 60px;
  }

  .icon-text {
    font-size: 16px;
  }

  .memberRow {
    gap: 100px; /* Adjust spacing between items for smaller screens */
  }
}

@media (max-width: 768px) {
  .icon-box {
    width: 130px;
    height: 130px;
    font-size: 50px;
  }

  .icon-text {
    font-size: 14px;
  }

  .memberRow {
    gap: 60px; /* Adjust spacing between items for smaller screens */
  }
}

@media (max-width: 576px) {
  .icon-box {
    width: 120px;
    height: 120px;
    font-size: 50px;
  }

  .icon-text {
    font-size: 14px;
  }

  .memberRow {
    gap: 40px; /* Adjust spacing between items for smallest screens */
  }
}

#signId, #signEmail {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group {
  display: flex;
}

.btnbtn {
  height: 46px !important;
  background-color: #212529 !important;
  color: white !important;
  /* line-height: 50%; */
}

.inputAuth {
  height: 41px !important;
}
