.searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .form {
    display: flex;
    gap: 10px; /* 각 폼 요소 사이의 간격 조절 */
    align-items: center;
  }
  
  .code {
    padding: 10px 10px;
    border-radius: 8px;
    padding-right: 40px;
    border: 1px solid #8FA2CA;
    color: #333;
    font-size: 16px;
    background: url('data:image/svg+xml;utf8,<svg fill="%238FA2CA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .code:focus {
    outline: 1px solid #8FA2CA;
  }
  
  .keywordInput {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #8FA2CA;
    font-size: 16px;
  }

  .keywordInput:focus {
    border-color: #8FA2CA; /* 포커스 시 테두리 색상 설정 */
    outline: 1px solid #8FA2CA; /* outline 색상 설정 */
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #8FA2CA;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #6C82A6;
    color: #fff;
  }
  