.container {
    width: 100%;
    margin: 0 auto; 
    padding-top: 50px;
  }
  
  .main {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  
  .tipH3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sorting-dropdown {
    margin: 10px 0;
  }
  
  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  }
  
  @media (max-width: 768px) {
    .categories {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .categories {
      grid-template-columns: 1fr; 
    }
  }
  
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-between; */
    border: none; 
    align-items: center;
    overflow: hidden;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

  .thumbnail-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .highlight-text {
    margin-top: 10px;
    font-weight: bold;
    text-align: center; 
    color: #8FA2CA;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .cardStats {
    font-size: 12px; 
    margin: 2px 0; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .mainTitle {
    font-size: 20px; 
    font-weight: bold;
  }

  .moreButton2 {
    font-size: 14px;
    font-weight: bold;
  }

  .sortingDropdown {
    margin: 10px 0;
  }
  
  .sortOptions {
    padding: 10px 10px;
    border-radius: 8px;
    padding-right: 40px;
    border: 1px solid #8FA2CA;
    color: #333;
    font-size: 16px;
    background: url('data:image/svg+xml;utf8,<svg fill="%238FA2CA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none; 
  }
  
  .sortOptions:focus {
    border-color: #8FA2CA; 
    outline: 1px solid #8FA2CA; 
  }


  