.container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin-top: 50px;
  margin-bottom: 50px;
}

.custom-border {
  border: 1px solid #e1e1e1;
}

.label-adjust {
  flex-shrink: 0;
  width: 100px;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalLine { 
  border-left: 1px solid #e1e1e1 !important;
  height: 40px; 
  margin-left: 10px;
  margin-right: 10px;
}

.borderless-input {
  border: none;
  background-color: transparent !important;
  flex-grow: 1;
}

.file-upload-button1 {
  padding: 6px 12px;
  border: none;
  background-color: #E4E8F4;
  color: black;
}

.file-upload-button1:hover {
  opacity: 0.8;
  background-color: #E4E8F4;
  color: black;
}

.btn-outline-secondary-custom {
  border-color: #6c757d;
  color: #6c757d;
}

.form-control {
  border-radius: 4px;
}

.title-input {
  border: 1px solid #e1e1e1 !important;
  border-radius: 8px !important;
  padding: 10px !important;
  margin-bottom: 15px !important;
}

.content-input {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 10px; 
  margin-bottom: 15px; 
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-text {
  color: #6c757d;
}

.img-thumbnail {
  max-width: 200px;
  margin-top: 10px;
}

.thumbnail-preview {
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.btn-submit-custom {
  background-color: #8FA2CA;
  border-radius: 8px !important;
  color: #fff;
  padding: 6px 12px;
}

.btn-submit-custom:hover {
  opacity: 0.8;
  background-color: #8FA2CA;
  color: #fff;
}

.btn-outline-custom {
  border-color: #8FA2CA;
  border-radius: 8px !important;
  color: #8FA2CA !important;
  padding: 6px 12px;
}

.btn-outline-custom:hover {
  opacity: 0.8;
  border-color: #8FA2CA;
  color: #8FA2CA;
}

.btn-submit {
  background-color: #8FA2CA;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
}

.btn-submit:hover {
  opacity: 0.8;
  background-color: #8FA2CA;
  color: #fff;
}

.btn-delete {
  background-color: #8FA2CA;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
}

.btn-delete:hover {
  opacity: 0.8;
  background-color: #8FA2CA;
  color: #fff;
}

.btn-back {
  border-color: #8FA2CA;
  border-radius: 8px !important;
  color: #8FA2CA !important;
  padding: 6px 12px;
}

.btn-back:hover {
  opacity: 0.8;
  border-color: #8FA2CA;
  color: #8FA2CA;
}
