.container {
    width: 100%;
    margin: 0 auto; 
    padding-top: 50px;
  }
  
  .main {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }
  
  .main h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .main .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .main .d-flex input {
    border: none;
    background: none;
    font-size: 0.9em;
    color: #666;
  }
  
  .main .d-flex .fa-regular.fa-eye,
  .main .d-flex span {
    font-size: 0.8em;
  }
  
  hr.my-2 {
    border: 0 !important;
    border-top: 1px solid #666 !important;
    margin: 20px 0 !important;
  }
  
  .text-center img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .col-15 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .w-100.input-readonly {
    width: 100%;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    white-space: pre-wrap;
  }
  
  .like-button-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #8FA2CA;
    border: 1px solid #8FA2CA;
    border-radius: 8px;
    padding: 10px;
  }
  
  .like-button-wrapper span {
    font-size: 0.9em;
  }

  .like-button-wrapper:hover {
    opacity: 0.8;
  }
  
  .separator {
    border: 0 !important;
    border-top: 1px solid #666 !important;
    margin: 20px 0 !important;
  }
  
  .boardList {
    color: #8FA2CA !important;
    border: 1px solid #8FA2CA;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
  }

  .boardUpdate,
  .boardDelete {
    color: white !important;
    background-color: #8FA2CA;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
  }
  
  .boardList:hover,
  .boardUpdate:hover,
  .boardDelete:hover {
    opacity: 0.8;
  }
  
  .reply-input-container {
    margin-top: 30px;
  }
  
  .reply-input-title {
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-left: 190px;
  }
  
  .inputGroup {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    padding-left: 200px;
  }
  
  .form-control {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
  }
  
  .customSubmitButton {
    padding: 10px 20px;
    background: #8FA2CA;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  .customSubmitButton:hover {
    opacity: 0.8;
  }
  
  .reply-reply-container,
  .reply-edit-container {
    margin-top: 20px;
  }
  
  .reply-reply-title,
  .reply-edit-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .reply-reply-input,
  .reply-edit-input {
    display: flex;
    gap: 10px;
  }
  
  .reply-reply-input textarea,
  .reply-edit-input textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .reply-reply-input button:hover,
  .reply-edit-input button:hover {
    opacity: 0.8;
  }

  .input {
    border: none;
    background: none;
    font-size: 0.9em;
    color: #666;
    padding: 0; 
  }

  .comment-actions button {
    background: none;
    border: none;
    color: #666;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
  }

  .date {
    color: #666;
    margin-right: 10px;
  }
  
  .reply-container {
    margin-bottom: 70px;
    width: 80%;
    margin: 0 auto !important;
  }


  .button-container {
    display: flex;
    justify-content: flex-end !important;
    gap: 10px !important;
    margin-right: 200px;
    margin-bottom: 50px !important;
  }

  .reply-container {
    margin-top: 20px;
  }
  
  .reply {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: white;
    width: 90%;
  }
  
  .answer {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #E4E8F4;
    margin-left: 20px;
    width: 90%;
  }
  
  .reply-reply-container,
  .reply-edit-container {
    margin-top: 20px;
  }
  
  .reply-reply-title,
  .reply-edit-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .reply-reply-input,
  .reply-edit-input {
    display: flex;
    flex-direction: row;
  }
  
  .reply-reply-input textarea,
  .reply-edit-input textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .reply-reply-input button,
  .reply-edit-input button {
    align-self: flex-end;
    background-color: #8FA2CA;
  }
  
  .reply-reply-input button:hover,
  .reply-edit-input button:hover {
    background-color: #6f8bbd;
  }

  .reply-list {
    margin-bottom: 80px !important;
    margin-right: 80px !important;
  }

  .editForm {
    padding: 10px; 
    border-radius: 5px; 
  }
  
  .textareaNoResize {
    resize: none;
    padding: 10px; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    font-size: 14px; 
    height: 100px;
  }

  .textareaNoResize:focus {
    border-color: #8FA2CA !important;
    border-width: 1px !important;
    outline: none !important;
  }

  .editForm textarea {
    width: 100%;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 10px; 
    margin-bottom: 10px; 
  }

  .editForm .buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
  }

  .editForm button {
    padding: 5px 10px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
  }

  .editForm .saveButton {
    color: white !important;
    background-color: #8FA2CA !important;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
  }

  .editForm .saveButton:hover {
    opacity: 0.8;
  }

  .editForm .cancelButton {
    color: #8FA2CA !important;
    border: 1px solid #8FA2CA !important;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
  }

  .editForm .cancelButton:hover {
    opacity: 0.8 !important;
    border-color: transparent !important;
    background-color: white !important;
    border: 1px solid #8FA2CA !important;
    color: #8FA2CA !important;
  }

  .reply-reply-container {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    padding: 15px; 
    border-radius: 8px; 
    margin-top: 10px; 
  }
  
  .reply-reply-title {
    font-size: 16px;
    margin-bottom: 10px; 
  }
  
  .reply-reply-input textarea {
    width: 100%; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
  }
  
  .reply-reply-input .submitButton {
    color: white;
    background-color: #8FA2CA;
    border: 1px solid #8FA2CA;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
  }
  
  .reply-reply-input .submitButton:hover {
    opacity: 0.8;
    background-color: #6f8bbd !important;
  }
  
  .reply-reply-input .cancelButton {
    color: #8FA2CA !important;
    background-color: white;
    border: 1px solid #8FA2CA;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
  }
  
  .reply-reply-input .cancelButton:hover {
    opacity: 0.8;
    background-color: transparent;
  }
  
  .img-container {
    width: 400px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
  }
  
  .img-fluid {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    object-position: center;
    border-radius: 8px;
  }
  
