.d-col-md-12 {
    flex: 0 0 85%;
}
.footer {
    background-color: white;
    font-size: 0.9em;
    width: 100%;
    height: 350px;
    border-top: 1px solid #8FA2CA;
    padding-top: 20px;
}
.footer .nav-link {
    color: #000 !important;
    padding: 0;
    margin: 0 30px;
}
.footer .nav-link:hover {
    color: #8FA2CA !important;
}
.footer .company-info p,
.footer .customer-info p,
.footer .copyright p {
    margin: 0;
    line-height: 1.6;
}
.footer .logo img {
    max-width: 170px;
    margin-bottom: 10px;
}
.footer hr {
    border-top: 1px solid lightgrey;
    width: 89%;
}
.row {
    justify-content: space-evenly;
}

.custom-break {
    white-space: normal;
    display: inline-block;
}

/* 반응형 푸터 */
@media (max-width: 992px) {
    .footer {
        height: auto; /* 높이를 자동으로 조정 */
        padding: 10px 0;
    }
    .footer .row {
        flex-direction: column; /* 컬럼 방향으로 변경 */
        align-items: flex-start; /* 왼쪽 정렬 */
    }
    .footer .col-md-3, .footer .col-md-11 {
        width: 100%; /* 전체 너비 사용 */
        margin-bottom: 30px; /* 하단 여백 추가 */
    }
    .footer .logo, .footer .company-info, .footer .customer-info {
        text-align: center; /* 중간 정렬 */
    }
    .footer .logo img {
        margin-bottom: 5px;
    }
}