/* header.css */
nav {
    border-bottom: 1px solid #8FA2CA;
    background-color: white;
    width: 100%;
    height: 60px;
}

.navbar {
    padding: 8px 16px !important; 
}

.navbar-brand img {
    max-height: 35px; /* 로고 이미지의 최대 높이 설정 */
    padding-left: 50px;
}

.navbar-nav {
    column-gap: 10px;
}

.navbar-nav .nav-link {
    font-size: 15px;
    color: black !important;
    border-radius: 8px;
    width: 90px;
    text-align: center;
}

#Dropdown {
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: white !important;
    background-color: #B5C6B8;
    border-radius: 8px;
}

.dropdown-item:active {
    background-color: #8FA2CA !important;
    color: #ffffff; 
}

/* 햄버거 아이콘 색상 변경 */
.navbar-toggler {
    color: rgba(0, 0, 0, .5) !important;
    border-color: rgba(0, 0, 0, .1) !important;
    width: 43.5px;
    height: 40px; /* 아이콘 높이 조절 */
    display: flex;
    align-items: center;
    justify-content: center;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* 반응형 디자인을 위해 추가된 코드 */
@media (max-width: 992px) { /* lg 브레이크포인트 이하일 때 */
    .navbar-collapse {
        position: fixed;
        top: 60px; /* 헤더 높이만큼 위로 띄움 */
        right: 0;
        height: calc(100% - 60px); /* 헤더 높이를 뺀 높이 설정 */
        width: 200px;
        background-color: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease;
        transform: translateX(100%);
    }
    .navbar-collapse.show {
        transform: translateX(0);
        z-index: 1000;
    }
    .navbar-nav {
        flex-direction: column;
        column-gap: 0; /* column-gap을 0으로 설정 */
        margin-top: 0; /* 헤더 아래로 바로 붙여서 시작 */
    }
    .navbar-nav .nav-link {
        text-align: center;
        padding: 10px 0; /* 위아래 패딩 추가 */
        width: 100%;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 8px 16px !important;
    }
}

.logout {
    all: unset;
}

.dropdown-menu[data-bs-popper] {
    left: -50px !important; 
}

.admin-header[data-bs-popper] {
    left: -100px !important; 
}
