.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #dee2e6;
  z-index: 1000;
}

.sidebar.active {
  max-width: 250px; /* Width when the sidebar is open */
}
.sidebar a.active {
  background-color: #e9ecef;
  color: #8FA2CA !important;
  border-radius: 8px;
}


.sidebar a {
  display: block;
  padding: 10px;
  margin-left: 15px;
  color: #333 !important;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #e9ecef;
  border-radius: 8px;
  color: #8FA2CA !important;
}

.toggle-btn {
  position: fixed;
  width: 60px !important;
  height: 38px !important;
  left: 10px;
  top: 70px;
  z-index: 1001;
  margin-top: 0px !important;
  font-size: 16px !important;
}

.close-btn {
  display: none;
  position: fixed;
  left: 10px;
  top: 70px;
  width: 60px;
  z-index: 1001;
}

.sidebar.active .close-btn {
  display: block; /* Show close button when sidebar is active */
}

@media (max-width: 767px) {
  .sidebar {
      position: fixed;
      left: -250px;
      top: 50px; /* Adjust for header */
      width: 250px !important;
      height: calc(100% - 50px); /* Adjust height for header */
      transition: left 0.3s;
      z-index: 900; /* Ensure behind the header */
  }
  .sidebar.active {
      left: 0;
  }
  .form-section {
      padding-top: 60px;
      transition: margin-left 0.3s;
  }
  .sidebar.active ~ .form-section {
      margin-left: 250px; /* Adjust for sidebar width */
  }
  .toggle-btn {
      position: fixed;
      width: 60px;
      left: 10px;
      top: 70px; /* Adjust toggle button position */
      z-index: 1001; /* Ensure button is above sidebar */
  }
  .sidebar.active ~ .toggle-btn {
      left: 250px; /* Move toggle button when sidebar is active */
  }
  .close-btn {
      display: block; /* Show close button */
  }
  .sidebar.active + .close-btn {
      display: block;
  }
  .sidebar .close-btn {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1002;
  }
}

@media (min-width: 768px) {
  .toggle-btn {
      display: none !important;
      font-size: 0.875rem;
  }
  .close-btn {
      display: none !important;
  }
}

@media (min-width: 576px) {
  .btn {
      padding: 6px 12px;
  }
}

/* 페이지 고정 */
/* 관리자 */
.partnerManage {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.reservationManage {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.userManage {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

/* 사용자 */
.userMypage {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.userReservation {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.userLikeTip {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.userReview {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.userChatRoom {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.userPartner {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.userCart {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

/* 파트너 */
.partnerMypage {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.partnerReservation {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.partnerReview {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}

.partnerReservation {
  /* background-color: #e9ecef; */
  color: #8FA2CA !important;
  border-radius: 8px;
}